.btn-primary,
.btn-secondary {
    border-radius: 50px;

    padding: 0 3rem;
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-purple;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.3s;
    color: $white;
    display: flex;

    box-shadow: #a9aaf3 0px 20px 30px -10px;

    &:hover {
        background-color: $brand-purple-dark;
    }
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    color: $brand-purple;
    transition: all 0.3s ease-in;

    border: 1px solid $brand-purple;

    &:hover {
        background-color: $brand-purple;
        border: 1px solid $brand-purple-dark;
        color: $white;
    }
}

@include responsive(600px) {
    .btn-primary {
        line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}
