.btn-primary,
.btn-secondary {
    border-radius: 50px;

    padding: 0 3rem;
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-purple;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.3s;
    color: $white;
    display: flex;

    box-shadow: #a9aaf3 0px 20px 30px -10px;

    &:hover {
        background-color: $brand-purple-dark;
    }
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    color: $brand-purple;
    transition: all 0.3s ease-in;

    border: 1px solid #e5e5e5;

    &:hover {
        background-color: $brand-purple;
        border: 1px solid #e5e5e5;
        color: $white;
    }
}

@include responsive(600px) {
    .btn-primary {
        line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}

.btn-avaliar {
    color: #4d5156;
    border: #d2d2d2 1px solid;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    font-size: 1.6rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.btn-seemore {
    font-size: 1.6rem;
    color: #1a73e8;

    &:hover {
        text-decoration: underline;
    }
}

.buttons_google_reviews {
    display: flex;
    align-items: anchor-center;
}
