header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    z-index: 12;

    border-bottom: 2px solid #ecf2fb;
    background-color: $white;

    .container {
        @include flex(row, center, space-between);
    }

    .btn-secondary {
        padding: 0.8rem 0.8rem;
        line-height: 0;

        &:hover {
            svg {
                color: white;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;

                img {
                    margin-left: 1.2rem;
                }
                &:not(:first-child) {
                    margin-left: 4.8rem;
                }

                a {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: rgb(64, 64, 64);
                    opacity: 0.7;
                    transition: color 0.3s;
                    &:hover {
                        color: $brand-purple;
                    }
                }
            }
        }
    }

    @include responsive($laptop) {
        nav {
            ul {
                li {
                    &:not(:first-child) {
                        margin-left: 2.8rem;
                    }
                }
            }
        }
    }

    @include responsive($tablet) {
        display: flex;
        align-items: center;
        width: 90%;
        top: 10px;
        left: 5%;
        border: 1px #e9e9e9 solid;
        height: 6rem;
        border-radius: 40px;
        box-shadow: #a9aaf32b 0px 20px 30px -10px;

        backdrop-filter: blur(10px); /* Ajuste o valor de desfoque conforme necessário */
        background-color: rgba(255, 255, 255, 0.5);
        nav {
            ul {
                display: none;
            }
        }

        .dots {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-secondary {
            display: none;
        }
    }
}

.menu-mobile {
    background: $white;
    border-radius: 28px;
    border: 1px #e9e9e9 solid;
    width: 100%;
    height: 50vh;
    position: fixed;

    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    box-shadow: #a9aaf3 0px 20px 30px -10px;

    // &::before {
    //     content: "";
    //     width: 100%;
    //     height: 50vh;
    //     background-color: #000000b5;
    //     position: absolute;
    //     top: -100%;
    // }

    &__icons {
        position: absolute;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        svg {
            width: 24px;
            margin: 8px;
        }
    }

    .icon-tabler-x {
        position: absolute;
        top: 16px;
        right: 21px;
        z-index: 20;
    }

    ul {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-55%);

        li {
            text-align: center;
            font-size: 2rem;
            margin: 24px 0;
            font-weight: 700;
            a {
                color: $black;
            }
        }
    }
}

.show {
    display: block;
}

.dots {
    color: $white;
    background-color: $brand-purple;
    padding: $gutter;
    border-radius: $border-radius * 10;
    margin-right: $gutter;
    display: none;

    // position: fixed;
    .icons-dots {
        display: none;
    }
}

.icons-mobile {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translate(-50%);
}
