.s-hero {
    width: 100%;
    padding-top: 16rem;
    padding-bottom: 16rem;

    background: linear-gradient(180deg, rgba(218, 247, 245, 0) 6.5%, #d1d6ff 60.89%, rgba(218, 247, 245, 0) 98.72%);

    .d-flex {
        align-items: center;
        flex-direction: column;
    }

    .by-code {
        opacity: 0;
    }

    .btn-primary {
        svg {
            transition: transform 0.3s ease;
        }

        &:hover {
            svg {
                transform: translateX(8px);
            }
        }
    }

    &__text {
        margin-bottom: 3.9rem;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .lead {
            color: $brand-gray;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 2px 15px;
            border-radius: 50px;
        }

        .title {
            font-family: "Kanit", sans-serif;
            font-size: 9rem;
            line-height: 100%;
            font-weight: 600;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            line-height: 9.5rem;

            color: $black;
            max-width: 95rem;

            strong {
                color: $brand-purple;
            }
        }

        .description {
            max-width: 50rem;
            font-weight: 400;
            font-size: 2rem;
            line-height: 150%;
            color: $gray-400;
            margin: 0 auto;
            margin-top: 3.4rem;
            margin-bottom: 4rem;

            .btn-primary {
                margin: 0 auto;
            }
        }

        .buttons-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .google {
                display: flex;
                align-items: center;

                .stars {
                    text-align: start;
                    margin-left: 8px;
                    h4 {
                        display: flex;
                        align-items: center;
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }

    &__image {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 600px;
        margin-top: 40px;

        .terminal {
            margin: 0 auto;
            // border-radius: 20px;
        }

        .img-1 {
            position: absolute;
            width: 20%;
            left: 0;
            bottom: 10px;
            z-index: 2;
        }

        .img-2 {
            position: absolute;
            width: 24%;
            right: -29px;
            top: -38px;
            z-index: 2;
        }

        .img-3 {
            position: absolute;
            width: 88%;
            height: 620px;
            border: 1px solid $brand-purple;
            border-radius: 120px;
            z-index: 3;
            left: 6%;
            top: -2%;
            z-index: -1;
        }

        .img-4 {
            position: absolute;
            left: 0;
            z-index: 3;
            animation: moveUpDown3 5s infinite alternate;
        }

        .img-5 {
            position: absolute;
            width: 20%;
            right: 0;

            z-index: 4;
            animation: moveUpDown2 5s infinite alternate;
        }

        @keyframes moveUpDown3 {
            0% {
                top: -15%;
            }
            100% {
                top: 2%;
            }
        }

        @keyframes moveUpDown2 {
            0% {
                bottom: -10%;
            }
            100% {
                bottom: 2%;
            }
        }

        video {
            border-radius: 120px;
            position: absolute;

            z-index: 1;
            width: 90%;
            height: 600px;
            object-fit: cover;
            left: 5%;
        }
    }

    @include responsive($laptop) {
        &__text {
            .title {
                font-size: 8rem;
                line-height: 110%;
            }
        }
    }

    @include responsive($tablet) {
        padding-top: 12rem;
        height: auto;

        .d-flex {
            flex-direction: column;
        }

        &__text {
            text-align: center;
            width: 100%;

            .btn-primary {
                margin: 0 auto;
                // width: 80%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                font-size: 1.8rem;
            }

            .title {
                font-size: 6.7rem;
            }

            .description {
                max-width: 100%;
                margin: 3rem auto;
            }

            .lead {
                align-items: center;
                justify-content: center;
                border: none;
                span {
                    display: none;
                }
            }

            .buttons-container {
                flex-direction: column;

                .google {
                    margin-top: $gutter * 3;
                }
            }
        }

        &__image {
            height: 320px;

            .img-1 {
                position: absolute;
                width: 30%;
                left: 0;
                bottom: 0;
                z-index: 2;
            }

            .img-2 {
                width: 30%;
                right: 0;
                top: -38px;
                z-index: 2;
            }

            .img-3 {
                position: absolute;
                width: 98%;
                height: 320px;
                border: 1px solid $brand-purple;
                border-radius: 60px;
                z-index: 3;
                left: 1%;
                top: -2%;
            }

            .img-4 {
                display: none;
                width: 40%;
                z-index: 4;
            }

            .img-5 {
                display: none;
                width: 40%;
            }
        }
    }

    @include responsive($mobile) {
        .btn-primary {
            width: 80%;
        }
        &__text {
            .title {
                font-size: 3.7rem;
                line-height: 110%;
            }
        }
    }
}

.char {
    font-family: "Kanit", sans-serif;
    transform: translateY(185px);
    transition: 0.5s;
}

.by-code {
    opacity: 0;
}
