.s-projects {
    padding: 90px 0;

    .container {
        margin-bottom: 80px;
    }

    .title-case {
        font-size: 3.4rem;
        line-height: 100%;
        margin-bottom: 40px;
    }

    &__description {
        max-width: 80rem;
        margin: 0 auto;
        text-align: center;
        opacity: 0.8;

        margin-bottom: 80px;
    }

    &__box {
        justify-content: space-between;
        margin-bottom: 80px;

        &-items {
            width: 32%;
            // text-align: center;
            background-color: rgba(197, 190, 220, 0.1);
            border: 1px solid rgba(197, 190, 220, 0.1);
            border-radius: 16px;
            padding: 16px;
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid #d1d6ff;
            }

            img {
                // margin: 0 auto;
                background-color: #fff;
                padding: 5px;
                border-radius: 8px;
            }
            h3 {
                font-size: 2rem;
                margin-top: 24px;
            }

            p {
                opacity: 0.8;
                margin-top: $gutter * 2;
                font-size: 1.6rem;
            }
        }
    }

    &__items {
        margin-top: 40px;

        .bg-green-light {
            background-color: #dcfffc;
        }

        .bg-yellow {
            background-color: #fef1c5;
        }

        .bg-blue {
            background-color: #d4ecfe;
        }

        .bg-purple {
            background-color: #f5f6ff;
        }

        .bg-pink {
            background-color: #fdf3ff;
        }

        .card {
            img {
                margin-top: -50px;
                border-radius: 10px;
            }

            border: 1px solid #fdf3ff;
            padding: 20px;
            margin: 20px;
            // margin-top: 100px;

            border-radius: 10px;

            &-description {
                display: flex;
                justify-content: space-between;
                align-items: unset;
                margin-top: 50px;

                a {
                    font-size: 1.8rem;
                    color: $brand-purple;
                    font-weight: 700;

                    text-decoration: underline;
                }
                h3 {
                    font-weight: 400;
                }
            }
        }
    }

    @include responsive(800px) {
        .title-case {
            font-size: 2.8rem;
            line-height: 100%;
            max-width: 50%;
        }

        &__items {
            .card {
                margin: 0;

                &-description {
                    h3 {
                        font-size: 1.9rem;
                    }

                    p,
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        &__description {
            max-width: 95%;
        }

        &__box {
            flex-direction: column;

            &-items {
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
}
