.s-service {
    padding: 90px 0;

    .box-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 80px;
    }

    .box {
        width: 30%;
        background-color: $white;
        border: 1px solid #ececec;

        border-radius: 10px;
        padding: $gutter * 2;
        position: relative;

        .badge {
            background-color: $brand-green;
            padding: 4px 8px;
            color: $brand-purple;
            border-radius: 8px;
            font-weight: 500;
            font-size: 1.2rem;

            display: table;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .d-flex-price {
            display: flex;
            margin-top: $gutter * 3;
            justify-content: space-between;
        }

        .price {
            color: $brand-purple;
            font-weight: 600;
        }

        ul {
            margin-top: 5rem;
            li {
                display: flex;
                font-size: 1.6rem;

                margin-bottom: 2rem;
                img {
                    margin-right: $gutter * 2;
                }
            }
        }

        .btn-price {
            background-color: $brand-purple;
            color: $white;
            font-weight: 600;
            padding: 8px 16px;
            border-radius: 4px;
            font-size: 1.6rem;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 80%;
            margin: 0 auto;
            margin-top: 60px;

            transition: all 0.3s ease;
            margin-bottom: $gutter * 3;

            &:hover {
                background-color: $brand-purple-dark;
            }
        }

        &:hover {
            border: 1px solid $brand-purple;
        }
    }

    // responsive
    @include responsive(800px) {
    }

    @include responsive(640px) {
        .d-flex {
            flex-direction: column-reverse;
            margin-top: 2.5rem;
        }

        .box {
            width: 100%;
        }
    }
}
